<%= form_for(@platform_solution) do |f| %>
  <% if @platform_solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@platform_solution.errors.count, "error") %> prohibited this platform_solution from being saved:</h2>

      <ul>
      <% @platform_solution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.text_area :solution, size: '60x5', class: 'span9', placeholder: 'Nova solução' %>
  </div>
  <div class="field">
  <%= f.file_field :resume %>
  </div>

  <input type="hidden" name="platform_solution[ident]" value="<%= params[:s] %>">

  <br>
  <div class="actions">
    <button class="btn btn-success" type="submit">Enviar</button>
  </div>
<% end %>
