<p id="notice"><%= notice %></p>

<p>
  <b>Version:</b>
  <%= @platform_solution.version %>
</p>

<p>
  <b>Status:</b>
  <%= @platform_solution.status %>
</p>

<p>
  <b>Solution:</b>
  <%= @platform_solution.solution %>
</p>
<% if @platform_solution.resume.nil? %>
	<p>
	  <b>Link to Attach File:</b>
	  <%= link_to 'Download File', @platform_solution.resume.url %>
	</p>
<% end %>
<%= link_to 'Edit', edit_platform_solution_path(@platform_solution) %> |
<%= link_to 'Back', platform_problems_path %>
