<%= form_for(@platform_problem) do |f| %>
  <% if @platform_problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@platform_problem.errors.count, "error") %> prohibited this platform_problem from being saved:</h2>

      <ul>
      <% @platform_problem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.text_area :problem, size: '60x5', class: 'span9', placeholder: 'Descreva o problema rapidamente' %>
  </div>
  <div class="field">
    <%= f.text_area :description, size: '60x5', class: 'span9', placeholder: 'Forneça uma descrição mais detalhada do problema'  %>
  </div>
  <div class="actions">
    <button class="btn btn-success" type="submit">Enviar</button>
  </div>
<% end %>
