<%if !@platform_problems.blank? %>
  <table class="table">
    <tr>
      <th>Problema</th>
      <th>Descrição</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% end %>

<% @platform_problems.each do |platform_problem| %>
  <tr>
    <td><%= platform_problem.problem %></td>
    <td><%= platform_problem.description %></td>
    <td><%= link_to 'Mostrar', "/platform/problems/#{platform_problem.ident}" %></td>
    <td><%= link_to 'Editar', edit_platform_problem_path(platform_problem) %></td>
    <td><%= link_to 'Deletar', platform_problem, method: :delete, data: { confirm: 'Certeza?' } %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <%= link_to 'New Problem', new_platform_problem_path %> -->
