<%if !@platform_problems.blank? %>
  <table>
    <tr>
      <th>Problem</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% end %>

<% @platform_problems.each do |platform_problem| %>
  <tr>
    <td><%= platform_problem.problem %></td>
    <th></th>
    <th></th>
    <th></th>
    <td><%= platform_problem.description %></td>
    <td><%= link_to 'Show', platform_problem.ident %></td>
    <td><%= link_to 'Edit', edit_platform_problem_path(platform_problem) %></td>
    <td><%= link_to 'Destroy', platform_problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<!-- <%= link_to 'New Problem', new_platform_problem_path %> -->
