<p id="notice"><%= notice %></p>

<p>
  <b>Problema:</b>
  <%= @platform_problem.problem %>
</p>

<p>
  <b>Descrição:</b>
  <%= @platform_problem.description %>
</p>

<% if @last_solution.nil? %>
	<div class="alert alert-error">Nenhuma solução cadastrada ainda</div>
<% else %>
	<p>
	  <b>Solução:</b>
	  <%= @last_solution.solution%> 
	</p>

	<p>
	  <b>Versão:</b>
	  <%= @last_solution.version%> 
	</p>	 
<% end %>
<%= link_to 'Enviar nova solução', new_platform_solution_path + '?s=' + @platform_problem.ident %>
