<!DOCTYPE html>
<html>
<head>
  <title>Galel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if login? %>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
        <li><%= link_to 'Novo problema', new_platform_problem_path %></li>
        <li><%= link_to 'Listar', '/platform/problems' %></li>
        <li><%= link_to 'Buscar', '/platform' %></li>
    </ul>
    <ul class="nav pull-right">
      <li><%= link_to 'Sair', '/logout' %></li>
    </ul>
  </div>
</div>
<%end%>


<div id="container">

  <div style="width: 800px; margin: 0 auto;">
  <div id="title">
    <a href='/' style = "text-decoration:none"><h1>GALEL</h1></a>
    <h2>GAIA's Learned Lessons</h2>
  </div>

  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>

  <%= yield %>
  </div>
</div>

</body>
</html>
