<!DOCTYPE html>
<html>
<head>
  <title>Galel</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--   <% if login? %>
    <a></a>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %> -->


<div id="body">
  <div id="title">
  <hgroup>
  <a href='/' style = "text-decoration:none"><h1>GALEL</h1></a>
  <h2>GAIA Learned Lessons</h2>
  <% if login? %>
    <div id = "logout">
      <a href="/logout"><h3>Logout</h3></a>
    </div>
  <% end %>
 </hgroup><br/>
 </div>

<%if login? %>
 <%= link_to 'Novo problema', new_platform_problem_path %>
 <%= link_to 'Listar', '/platform/problems' %>
 <%= link_to 'Buscar', '/platform' %>
<%end%>

 <%= yield %>


</div>

</body>
</html>
